extends ../shared/template

block content
  h1 #{course.title}
  h2 #{course.description}

  #pagination-container(data-count=count)
    each courseContent in courseContents
      .card(style='width:500px; height: 200px;')
        .front(style='width:250px; height: 200px; display: inline-block;')
          p #{courseContent.front}
        .back(style='width:250px; height: 200px; display: inline-block;')
          p #{courseContent.back}
  a.next(href='#') Next Page
  a(href='/learners/courses/#{course._id}/test') Take Test


block scripts
  script(src='/js/es6/compiled/rachelpaginate.js')
