extends ../shared/template

block content

  h1 Welcome #{user.email} - #{user.type}

  table#courses
    thead
      th Course Name
      th Course Description
      th Course Content
      th
      th
    tbody
      each course in courses
        tr
          td(data-id=course._id.toString())= course.title
          td #{course.description}
          td
            a(href='/learners/courses/#{course._id}/content') View Content
          td(class=course.classes) #{course.score}
          td
            if(course.isRetestAvailable)
              a(href='/learners/courses/#{course._id}/test') Retake Test


  //- table#scores
  //-   thead
  //-     th Course Name
  //-     //- th Date Taken
  //-     th Test Score
  //-   tbody
  //-     each score in scores
  //-       tr
  //-         td(data-id=score.courseId.toString())= score.title
  //-         td #{score.score}
