extends ../shared/template

block content
  h1 Welcome #{user.email} - #{user.type}

  form(action='/creators/dashboard', method='post')
    input(type='text', name='title', autofocus=true, placeholder='Course Name')
    input(type='text', name='description', placeholder='Course Description')
    button Create Course

  h3 Your Courses
  table#userscourses
    thead
      th Course Name
      th Course Description
    tbody
      each course in courses
        tr
          td(data-id=course._id.toString())= course.title
          td #{course.description}
          td
            a(href='/creators/courses/#{course._id}/content/edit') Edit Content
          td
            a(href='/creators/courses/#{course._id}/test/edit') Edit Test
